<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student H5</title>

</head>

<body>


    <span>
        <p id="test">

        </p>

    </span>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script type="text/javascript" src="jquery-1.9.1.js"></script>-->
<script type="text/javascript">
    $(document).ready(getStudent());

    function getStudent() {
        $.ajax({
            url: "/testspring/getBaseCompany",
            success: function (data) {
                studentJsonArray = eval(data);

                function getStudenFromList() {
                    for (var i = 0; i < studentJsonArray.length; i++) {
                        var id = studentJsonArray[i]["id"];
                        var name = studentJsonArray[i]["name"];
                        var age = studentJsonArray[i]["age"];
                        var sex = studentJsonArray[i]["sex"];

                        document.getElementById("test").innerHTML = "Hello World!";
                    }

                }

            }


        })

    }

</script>


</body>
</html>
